$bg-green: green;


header{
    background-color: $bg-green;
}

.header__menu{
    list-style: none;
    padding: 0;
    li{
        display: inline-block;
    }
    
    a{
        text: {
            decoration: none;
            transform: uppercase;
            align: center;
        }
        font: {
            family: sans-serif;
            size: 18px;
        }
    }
}